.reverse {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.maintext {
  font-family: Georgia, serif;
  color: black;
  -webkit-font-smoothing: antialiased;
}

body {
  background: white;
}

p {
  margin: 0px;
  display: inline;
}
