.reverse {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.fulljustify {
  text-align: justify;
  width: 100%;
}

.fulljustify:after {
  content: "";
  display: inline-block;
  width: 100%;
}
