#content {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia, Serif;
}

#content button {
  width: auto;
  float: right;
}

#menu {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia, Serif;

  margin-top: 20px;
}

#menu button {
   width: 100px;
   margin-left: auto;
   margin-right: auto;
}


#scratch-area {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: Georgia, Serif;
}

.line {
  margin-top: 2px;
  margin-bottom: 2px;
}

button {
   text-transform: none;
   text-decoration: none;
   background-color: #fff;
   color: #000;
   border: 3px solid #000;
   font-weight: 500;
   letter-spacing: 0;
}
